# Zabbix server configuration file

# Database configuration
DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{ db_zabbix_password }}

# Log file location
LogFile=/var/log/zabbix/zabbix_server.log

# Performance tuning (optional, but recommended)
StartPollers=5
StartTrappers=5

